body{
background-color: #A294F9;
  
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
   
 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.container {
    z-index: 1.5;
    background-color: #E5D9F2; 
    border-radius: 20px;
    width: 500px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    height: 400px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

nav a {
    color: #ccc;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #fff;
}


.form-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.form-content p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #ccc;
}

.form-content a {
    color: #CDC1FF;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}


.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #222; 
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    outline: none;
}



.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%; 
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


button[type="button"] {
    background-color: #555; 
    color: #fff;
}

button.create-account-btn {
    background-color: #69247C; 
    color: #fff;
    margin-left: 100px;
}

button:hover {
    opacity: 0.9; 
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .button-group {
        flex-direction: column;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.image{

    z-index: 0.5;
}
h1{
    color: #DA498D;
  
}